body {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.centro {
    height: 98vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ventana {
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.titulo_vent {
    margin-top: 70px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    align-items: center;
}

.candado {
    padding-left: 80px;
}

form {
    background-color: lightgray;
    width: 600px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form>div {
    margin-left: 10px;
    margin-right: 10px;
}

.inferior {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones>button {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
}